@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg: #171717;
    --primary: #ffd52b;
    --text: #eaeadb;
    --light-text: #a3a2a2;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

body,
html {
    width: 100%;
    height: 100%;
    background-color: var(--bg);
    color: var(--text);
}

a {
    color: var(--text);
    text-decoration: none;
}

/* Navbar Styling */
nav {
    display: flex;
    justify-content: space-between;
    margin: 25px 100px;
}

.menu {
    display: flex;
    gap: 25px;
}

.menu a:hover,
.logo:hover {
    color: var(--primary);
    cursor: pointer;
    transition: 0.25s;
}

/* All Pages Basic Styling */
.home,
.pg {
    margin: 25px 100px;
}

.pg {
    margin-bottom: 250px;
}

.pg a {
    color: var(--primary);
}

.title {
    display: flex;
    gap: 10px;
    font-size: 24px;
    align-items: center;
    margin-bottom: 25px;
    width: 100%;
}

.num {
    font-family: monospace;
    color: var(--primary);
}

/* Home Page Styling */
.home {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#small {
    font-size: 16px;
    color: var(--primary);
    font-family: monospace;
}

#name {
    font-size: 40px;
    font-weight: 600;
}

#intro {
    font-size: 40px;
    font-weight: 600;
    color: var(--light-text);
}

#description {
    text-align: justify;
    font-size: 12px;
}

/* Contact Page Styling */
#contact .info {
    text-align: center;
    /* margin-bottom: 25px; */
}

button.say-hello {
    margin-top: 25px;
    padding: 15px;
    background-color: transparent;
    border: var(--primary) 2px solid;
    border-radius: 5px;
    color: var(--primary);
}

button.say-hello:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.25s;
}

/* footer styles */

footer p {
    text-align: center;
    font-family: monospace;
}

/* The typing effect */
@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
}

#top {
    width: fit-content;
}

#small {
    font-family: monospace;
    overflow: hidden;
    border-right: 0.15em solid orange;
    white-space: nowrap;
    letter-spacing: 0.15em;
    animation: 
      typing 3.5s steps(40, end),
      blink 0.75s step-end;
}
  